<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Filmes e Séries</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Projeto Filmes e Séries</h1>
    <ul>
      <li><a href="/listar">Listagem de filmes</a></li>
      <li><a href="/add">Cadastrar filme/série</a></li>
    </ul>
  </body>
</html>
